@model IEnumerable<EtecShop.Models.Product>
@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="index.css">
<div class="text-center mb-3">
    <h1 class="display-4">Seja Bem Vindo a Administrador</h1>
    <p>Os Melhores Produtos para os Melhores Clientes!</p>
</div>
